* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: #363434;
  font-size: 16px;
}

h2 {
  font-size: 30px;
}

li {
  font-size: 25px;
}

#recipe-text {
  display: flex;
  justify-content: center;
}

#recipe div {
  padding-top: 20px;
  display: flex;
  justify-content: center;
}

#recipe img {
  height: 110px;
  align-self: center;
}

#recipe-background-image {
  background-image: url("../images/apple-pie.jpg");
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-content: center;
  justify-content: center;
  position: relative;
}

#recipe-title {
  font-size: 100px;
  color: whitesmoke;
  font-weight: 300;
  position: relative;
  top: 35%;
}

#recipe-description {
  font-size: 35px;
  font-weight: 50px;
}

.section {
  width: 80vw;
  height: 100%;
  padding: 25px 0;
}

#introduction {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.ingredient-li {
  list-style: none;
}
